Repository acceldata-io/spark3, pull requests merged in 2024-09, with the labels that each got.

#22 ODP-2149 Upgrade netty version to 4.1.96.Final
  dev/deps/spark-deps-hadoop-2-hive-2.3
  dev/deps/spark-deps-hadoop-3-hive-2.3
  pom.xml
Labels: BUILD

#26 ODP-2169|[SPARK-39740][UI] Upgrade vis timeline to 7.7.2 to fix CVE-2020-28487
  core/src/main/resources/org/apache/spark/ui/static/timeline-view.js
  core/src/main/resources/org/apache/spark/ui/static/vis-timeline-graph2d.min.css
  core/src/main/resources/org/apache/spark/ui/static/vis-timeline-graph2d.min.css.map
  core/src/main/resources/org/apache/spark/ui/static/vis-timeline-graph2d.min.js
  core/src/main/resources/org/apache/spark/ui/static/vis-timeline-graph2d.min.js.map
  dev/.rat-excludes
  licenses-binary/LICENSE-vis-timeline.txt
  licenses/LICENSE-vis-timeline.txt
Labels: CORE, WEB UI

#23 ODP-2151 Remove protobuf-java 2.5.0
  dev/deps/spark-deps-hadoop-2-hive-2.3
  dev/deps/spark-deps-hadoop-3-hive-2.3
  pom.xml
  sql/hive/pom.xml
Labels: BUILD, SQL

#28 ODP-2187 Upgrade snakeyaml version to 2.0
  dev/deps/spark-deps-hadoop-2-hive-2.3
  dev/deps/spark-deps-hadoop-3-hive-2.3
  pom.xml
Labels: BUILD

#29 ODP-2167 Upgrade janino version
  dev/deps/spark-deps-hadoop-2-hive-2.3
  dev/deps/spark-deps-hadoop-3-hive-2.3
  pom.xml
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/codegen/CodeGenerator.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryExecutionErrors.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/CodeGenerationSuite.scala
Labels: BUILD, SQL

#30 ODP-2190 Upgrade guava version to 32.1.3-jre
  dev/deps/spark-deps-hadoop-2-hive-2.3
  dev/deps/spark-deps-hadoop-3-hive-2.3
  pom.xml
Labels: BUILD

#31 ODP-2193 | ODP-2194 Upgrade jettison version to 1.5.4 and wildfly-openssl to 1.1.3
  dev/deps/spark-deps-hadoop-3-hive-2.3
Labels: BUILD

#34 ODP-2175|SPARK-47018 Upgrade libthrift version and hive version
  dev/deps/spark-deps-hadoop-2-hive-2.3
  docs/building-spark.md
  docs/sql-data-sources-hive-tables.md
  docs/sql-migration-guide.md
  external/kafka-0-10-assembly/pom.xml
  pom.xml
  sql/hive-thriftserver/src/main/java/org/apache/hive/service/auth/PlainSaslHelper.java
  sql/hive/pom.xml
  sql/hive/src/main/scala/org/apache/spark/sql/hive/HiveUtils.scala
  sql/hive/src/main/scala/org/apache/spark/sql/hive/client/package.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/HiveExternalCatalogVersionsSuite.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/HiveSparkSubmitSuite.scala
Labels: BUILD, DOCS, SQL

#38 ODP-2255 - Upgrade bootstrap and jquery.datatables versions
  core/src/main/resources/org/apache/spark/ui/static/bootstrap.bundle.min.js
  core/src/main/resources/org/apache/spark/ui/static/bootstrap.min.css
  core/src/main/resources/org/apache/spark/ui/static/jquery.dataTables.2.0.0.min.js
  core/src/main/scala/org/apache/spark/ui/UIUtils.scala
  docs/css/bootstrap.min.css
  docs/js/vendor/bootstrap.bundle.min.js
Labels: DOCS, CORE, WEB UI

#40 ODP-2118: Hudi, DeltaLake, Iceberg version upgrade for open table client.
  assembly/pom.xml
  pom.xml
Labels: BUILD

#39 ODO-2263|ODP-1302 [SPARK-43225][BUILD][SQL] Remove jackson-core-asl and jackson-mapper-asl from pre-built distribution
  dev/deps/spark-deps-hadoop-3-hive-2.3
Labels: BUILD

#41 ODP-2269 - Fixing 'NoClassDefFoundError for InternalFutureFailureAccess class' issue
  common/network-yarn/pom.xml
  core/pom.xml
  pom.xml
Labels: BUILD, CORE

#42 ODP-2324 - Spark3 - Fixing CVEs
  NOTICE-binary
  core/src/test/resources/HistoryServerExpectations/app_environment_expectation.json
  core/src/test/resources/spark-events/app-20161115172038-0000
  core/src/test/resources/spark-events/app-20161116163331-0000
  core/src/test/resources/spark-events/app-20180109111548-0000
  core/src/test/resources/spark-events/app-20200706201101-0003
  core/src/test/resources/spark-events/application_1516285256255_0012
  core/src/test/resources/spark-events/application_1553914137147_0018
  core/src/test/resources/spark-events/application_1555004656427_0144
  core/src/test/resources/spark-events/application_1628109047826_1317105
  core/src/test/resources/spark-events/local-1642039451826
  dev/deps/spark-deps-hadoop-2-hive-2.3
  dev/deps/spark-deps-hadoop-3-hive-2.3
  external/kinesis-asl-assembly/pom.xml
  hadoop-cloud/pom.xml
  pom.xml
  sql/core/src/test/resources/spark-events/local-1596020211915
Labels: BUILD, CORE, SQL
